body{
  background-color: #00001a;
}
input{
  border-radius: 4px;
  padding: 10px 25px;
  background-color: #00001a;
  display: flex;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}
input:hover{
  background-color:#00ff00;
  box-shadow:0 0 10px #2193f6,0 0 10px #2193f6,0 0 10px #2193f6,0 0 10px #2193f6,0 0 10px #2193f6,0 0 10px #2193f6,0 0 10px #2193f6,0 0 10px #2193f6,0 0 10px #2193f6;
}
