*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Loginpage styling 
/* animating background
html,body{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752,#e73c7e,#23a6d5,#23d5ab);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/* styling the fields of login page */

/* .wrapper{
    border: 1.2px solid white;
    border-radius: 5px;
    padding: 8rem 10rem;
    width: 400px;
    background: white; 
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
} */
