:root{
  --deep-purple:#330033;
  --sea-green:#B2DFDB;
  
}

*{
  margin: 0;
  padding:0;
  /* box-sizing: border-box; */
  /* overflow: hidden; */
  
}
/* #line{
  height: 1px;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.000000000009em solid #330033;
} */
/* ::-webkit-scrollbar {
  display: none;
}
/* navbar styling */
.nav{
  height: 10vh;
  width: 100%;
}
.nav ul{
  
}
.nav ul li{
 
}
#nav{
  background: none;
}
.div{
  height: 50vh;
  /* background-image: url("./assets/endless-constellation.png");
} */}
.list1:hover{
  color: var(--deep-purple);
  background-color: var(--sea-green);
  transition: ease-out 0.7s;
}
/* base component */
#container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
}
.section1{
  height: 37vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: large;
}
#section1-1{
   margin-top: -2rem; 
}
#section1-2{
  font-size: 1.8rem;
  margin:3rem 4rem 0rem 4rem;
  text-align: center;
  color: var(--sea-green);
}
.section2{
  display: grid;
  justify-content: center;
  align-items: center;
  /* grid-gap: 1px; */
  margin: 5px;
 
  grid-template-columns: repeat(auto-fit, minmax(33.3%,3fr));
 
}
#section3{
  background-color: blue;
}
/* #Card styling */
.card-container{
  padding-bottom: 2rem;
  color: var(--blue-shade1);

}
.Card{
  border: none;
 
}

#card-border{
  /* padding: 1rem; */
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0%;
  border-bottom:1px solid var(--blue-shade1);
}
#card-link{
  text-decoration: none;
  background-color: none;
}


.popular-post-container{
  display: flex;
  flex-direction: column;
  border-bottom: #0054b4 1px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
 
