<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="card.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="left"></div>
        <div class="right">
            <div class="content">
                <h1>Project 1</h1>
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Nemo minima culpa, dolor recusandae nisi officiis quos voluptates
                     tempora totam dolore eligendi quod voluptas fugit. Ex quod ratione ab distinctio nulla.
                Hic ratione accusantium odit 
                exercitationem recusandae sint
                 incidunt, sit quas? Neque natus placeat ipsam
                  odio illo voluptatem quod distinctio pariatur sint, modi
                   accusamus culpa enim, similique aliquid cupiditate quas asperiores.</p>
                <a href="#">Github</a>
            </div>
        </div>
        </div>
        
    </section>
</body>
</html>