<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="line.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="grid-container">
        <img src="i.jpg" class="g1">
        <div class="project-description">
            <h1>hi its p1</h1>
            <p>hi p1</p>
            <div class="g2">Lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, saepe sapiente. Perferendis qui, facilis est adipisci illo iure perspiciatis molestias porro officiis mollitia, reprehenderit praesentium, recusandae dolorum voluptate aperiam hic!Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi eveniet amet sint quidem vel. Expedita numq</div>
        </div>
        

       
    </div>
    
</body>
</html>