
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="D:\Study\Front-End\portfolio\navbar.css">
    <meta charset="utf-8">
    <title>Navbar</title>
  </head>
  <body>
    <header>
      <p class="logo">Image</p>
      <nav class="nav">
        <ul class="nav-list">
          <li><a href="#">First</a></li>
          <li><a href="#">Second</a></li>
          <li><a href="#">Third</a></li>
        </ul>
      </nav>
      <a class="button_resume" href="#"><button>Button</button></a>
    </header>
  </body>
</html>
