*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #66cc81;
    color: #081517;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    margin-top: 6rem;
}
body{
    overflow: hidden;
}
.wrapper{
    display: none;
    justify-content: center;
    align-items: center; 
    min-height: 30vh;
}
.wrapper div{
    margin: 12px;
}
.wrapper div label{
    cursor: pointer;
}
.wrapper div label input[type="checkbox"]{
    display: none;
}
.wrapper div label span{
    background-color:#081517;
    padding: 15px 30px;
    color: #66cc81;
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}
.wrapper div label input[type="checkbox"]:checked ~ span{
    background-color:#57C76D;
    color:#081517;
    font-weight: bold;
     box-shadow: 10px 10px 50px #081517;
}

/* go button */
#button{
  padding:22rem;
  border-radius: 2px solid #081517;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
 
 